@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

body.dark {
    background: linear-gradient(to right, #232526, #414345);
}

#question-card {
    min-height: 250px;
}

.category-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.category-title span {
    margin-right: 0.5rem;
}
